In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/crisd/Downloads/UNZIP_FOR_NOTEBOOKS_FINAL/DATA/Advertising.csv')

In [3]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [5]:
X = df.drop('sales', axis=1)
y = df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [ ]:
# TRAIN| VALIDATION| HOLD OUT
# 70   | 15        | 15

# 1st split 70/30
# 2nd split 50/50

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
X_validation, X_holdout, y_validation, y_holdout = train_test_split(X_test, y_test, test_size=0.5, random_state=101)

In [9]:
len(X)

200

In [10]:
len(X_train)

140

In [11]:
len(X_validation)

30

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
model = RandomForestRegressor(n_estimators=30, random_state=101)

In [27]:
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=30, random_state=101)

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [29]:
valid_pred = model.predict(X_validation)

In [30]:
valid_pred

array([14.40333333,  5.47333333,  4.14      , 15.72666667, 11.66666667,
        9.93      , 10.83333333, 11.48      , 18.02      ,  7.60333333,
       10.9       , 21.44333333, 14.08333333,  7.53333333, 11.81333333,
        6.83      , 13.51      , 13.62      , 11.01333333,  7.99666667,
       12.53333333, 21.63      , 19.49      , 15.73      , 16.05666667,
       24.21666667, 20.17666667,  9.50666667, 14.50333333, 19.36333333])

In [31]:
# compare to the mean of the dataset
mean_absolute_error(y_validation, valid_pred)

0.6575555555555552

In [32]:
import numpy as np

In [33]:
# compare to the standard deviation
np.sqrt(mean_squared_error(y_validation, valid_pred))

0.8542009478215644

In [34]:
df.describe()['sales']

# MAE 0.85 RMSE 1.1 with 3 estimators --> MAE 0.65 RMSE 0.85 with 30 estimators

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: sales, dtype: float64

In [35]:
holdout_preds = model.predict(X_holdout)

In [36]:
mean_absolute_error(y_holdout, holdout_preds)

0.5937777777777775

In [37]:
np.sqrt(mean_squared_error(y_holdout, holdout_preds))

0.745323693040418

In [38]:
final_model = RandomForestRegressor(n_estimators=30, random_state=101)

In [39]:
final_model.fit(X, y)

RandomForestRegressor(n_estimators=30, random_state=101)

In [40]:
import joblib

In [41]:
joblib.dump(final_model, 'final_model.pkl')

['final_model.pkl']

In [42]:
list(X.columns)

['TV', 'radio', 'newspaper']

In [43]:
joblib.dump(list(X.columns), 'column_names.pkl')

['column_names.pkl']

In [44]:
new_columns = joblib.load('column_names.pkl')

In [45]:
loaded_model = joblib.load('final_model.pkl')

In [46]:
loaded_model.predict([[230.1, 37.8, 69.2]])

/Users/crisd/opt/anaconda3/envs/mlp/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([21.99])